body{
    background: rgb(255, 102, 0);
    font-family: 'MinhaFonte', sans-serif;
}

@font-face {
    font-family:'MinhaFonte';
    src: url(Urbanist-Thin.ttf);
}

.box {
    width: 91px;
    height: 89px;
}

.box .ellipse {
    position: fixed;
    width: 51px;
    height: 49px;
     top: 15px;
    left: 30px;
    background-color: #d9d9d9;
    border-radius: 45.5px/44.5px;
}

.back {
    position: fixed; 
    top: 25px; 
    left: 40px; 
    z-index: 9999;
    width: 31px; 
    height: 29px;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 102, 0); 
    padding: 20px;
    border-radius: 10px;
    max-width: 710px;
    margin: auto;
  }
  
.frame .rectangle {
    position: relative;
    width: 710px;
    height: 663px;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
}
  
.frame .logo {
    position: absolute; 
    top: 5px; 
    left: 630px;
    width: 250px; 
    height: 200px; 
  }
  
.frame form {
    position: absolute; 
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    max-width: 400px; 
}
  
.frame form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.frame form .inputbox {
    margin-bottom: 20px;
}
  
.frame form .inputbox input {
    width: 100%;
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
  
.frame form .inputbox label {
    margin-bottom: 5px;
    display: block;
}
  
.frame form .forget {
    margin-bottom: 20px;
}
  
.frame form .forget label {
    font-size: 14px;
}
  
.frame form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fdb500; 
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.frame form button:hover {
      background-color: #ff6f00;
}
  
.frame form .register {
    text-align: center;
}
  
.frame form .register p {
    font-size: 14px;
}
  
.frame form .register a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
  
.frame form .register a:hover {
    text-decoration: underline; 
}
  
